<ion-view view-title="Buscar deputado" name="login-view" hide-nav-bar="true" drag-content="false">
  <ion-content class="padding" scroll="false">
    <form action="#" ng-submit="dig(search)">
      <img src="/assets/peba_logo.png" alt="Peba logo" id="logo"/>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="nome, partido, estado, fornecedor, CPF, CNPJ..." ng-model="search">
          </label>
      </div>
      <button class="button button-block button-calm" type="submit" action="#">Cavar</button>
    </form>
  </ion-content>
</ion-view>
